Repository nexodus-io/nexodus, pull requests merged in 2023-07, with the labels that each got.

#1244 tests: use gotestsum to reduce tests output verbosity.
  .github/workflows/build.yml
  Makefile
  hack/install-tools.sh
Labels: no-design-required, no-docs-required, has-tests

#1247 nexd: fixes #1246 - fallback to using wireguard-go on linux
  Containerfile.nexd
  integration-tests/helper_test.go
  integration-tests/integration_test.go
  internal/nexodus/nexodus_linux.go
Labels: no-design-required, no-docs-required, has-tests

#1237 nexd: add in error propogation for deploying wireguard config
  internal/handlers/stream.go
  internal/nexodus/nexodus.go
  internal/nexodus/route.go
  internal/nexodus/route_darwin.go
  internal/nexodus/route_linux.go
  internal/nexodus/route_userspace.go
  internal/nexodus/route_windows.go
  internal/nexodus/utils.go
  internal/nexodus/utils_darwin.go
  internal/nexodus/wg.go
  internal/nexodus/wg_deploy.go
Labels: no-design-required, no-docs-required, no-tests-required

#1249 nexctl: use `--service-url` instead of `--host`.
  .github/workflows/build.yml
  Makefile
  cmd/nexctl/main.go
  cmd/nexd/main.go
  docs/deployment/nexodus-service.md
  docs/user-guide/discovery-and-relay.md
  docs/user-guide/nexctl.md
  docs/user-guide/security-groups.md
  hack/nexctl-docs.sh
  internal/nexodus/nexodus.go
  internal/nexodus/nexodus_darwin.go
  internal/nexodus/nexodus_windows.go
  ui/index.html
  ui/src/App.tsx
  ui/src/index.tsx
  ui/src/layout/AppBar.tsx
  ui/src/providers/AuthProvider.tsx
Labels: no-design-required, has-docs, missing-docs-label, missing-design-label, no-tests-required, missing-tests-label

#1199 Add design doc for the network router feature
  Makefile
  docs/development/design/diagrams/network-router-snat-disabled.png
  docs/development/design/diagrams/network-router-snat.png
  docs/development/design/network-router.md
Labels: has-design, no-docs-required, no-tests-required

#1213 Add *.png to the path-ignore for the build action
  .github/mergify.yml
  .github/workflows/build.yml
  .github/workflows/docs.yml
Labels: no-design-required, no-docs-required, no-tests-required

#981 Add network-router functionality
  cmd/nexd/main.go
  docs/user-guide/network-routers.md
  docs/user-guide/subnet-routers.md
  integration-tests/integration_test.go
  internal/nexodus/net_router.go
  internal/nexodus/nexodus.go
  internal/nexodus/policy_darwin.go
  internal/nexodus/policy_linux.go
  internal/nexodus/policy_windows.go
  internal/nexodus/route_darwin.go
  internal/nexodus/route_linux.go
  internal/nexodus/route_windows.go
  internal/nexodus/wg_iface.go
Labels: no-design-required, has-docs, has-tests

#1245 Cache user to improve performance of createUserIfNotExists
  cmd/apiserver/main.go
  go.mod
  internal/handlers/api.go
  internal/handlers/handlers_test.go
  internal/handlers/user.go
Labels: no-design-required, no-docs-required, no-tests-required

#1252 ci: Add png-lint to validate excalidraw exports
  .excalidraw-ignore
  .github/mergify.yml
  .github/workflows/build.yml
  .github/workflows/docs.yml
  Makefile
Labels: no-design-required, no-docs-required, has-tests

#1259 api: Fix a couple of issues with org create
  internal/handlers/organization.go
Labels: no-design-required, no-docs-required, no-tests-required

#1251 ci: Don't run make ui
  .github/workflows/build.yml
Labels: no-design-required, no-docs-required, has-tests

#1264 Added an images dir and an initial excalidraw png for docs
  docs/images/network-router-simple-example-1.png
  docs/user-guide/network-routers.md
Labels: documentation, no-design-required, no-docs-required, no-tests-required

#1265 release prefix for cidrv6 when deleting org
  internal/handlers/organization.go
Labels: no-design-required, no-docs-required, no-tests-required

#1273 Add relay node diagram
  docs/images/relay-nodes-diagram-1.png
  docs/user-guide/discovery-and-relay.md
Labels: documentation, no-design-required, no-docs-required, no-tests-required

#1272 Diagram for security groups docs
  docs/images/security-groups-multi-cloud-1.png
  docs/user-guide/security-groups.md
Labels: documentation, no-design-required, no-docs-required, no-tests-required

#984 apiserver: implement ext_autz grpc endpoint
  Makefile
  cmd/apiserver/main.go
  deploy/nexodus/base/apiproxy/files/envoy.yaml
  deploy/nexodus/base/apiserver/deployment.yaml
  deploy/nexodus/base/apiserver/service.yaml
  docs/development/design/rate-limiting.md
  go.mod
  go.sum
  hack/ext-authz-client/main.go
  internal/handlers/api.go
  internal/handlers/envoy_authz.go
  internal/handlers/handlers_test.go
  internal/routers/middleware.go
  internal/routers/routers.go
  pkg/oidcagent/handlers.go
Labels: has-design, no-docs-required, no-tests-required

#1258 fixing panic on peer list due to empty map
  cmd/nexctl/main.go
  integration-tests/helper_test.go
  integration-tests/integration_test.go
Labels: no-design-required, no-docs-required, no-tests-required

#1289 Bumping docker/docker to v24.04 and removing the replace from go.mod
  go.mod
  go.sum
Labels: no-design-required, no-docs-required, no-tests-required

#1277 Update the qa-containers image to quay.io/nexodus
  ops/ansible/aws/qa/qa-containers-deploy-mesh/tasks/main.yml
  ops/ansible/aws/qa/validate-connectivity-qa-containers/tasks/main.yml
Labels: no-design-required, no-docs-required, no-tests-required

#1248 Proposal for device registration flow using keycloak dynamic client registration
  docs/development/design/device-registration.md
  docs/development/design/diagrams/data-registration-datamodel.png
  docs/development/design/diagrams/design-registration-d1.png
Labels: has-design, no-docs-required, no-tests-required

#1276 Add a simple nexodus overview diagram to the quickstart
  docs/images/quickstart-overview-1.png
  docs/quickstart.md
Labels: documentation, no-design-required, no-docs-required, no-tests-required

#1281 Add a no summary e2e option for debugging raw output
  Makefile
  docs/development/tooling.md
Labels: no-design-required, no-docs-required, no-tests-required

#1278 Consolidate all nexd persistent state into a single json file in thes state dir.
  cmd/nexd/flags_unix.go
  cmd/nexd/flags_windows.go
  cmd/nexd/main.go
  go.mod
  go.sum
  integration-tests/helper_test.go
  integration-tests/integration_test.go
  integration-tests/kube_test.go
  integration-tests/proxy_test.go
  internal/client/apiclient.go
  internal/client/apiclient_test.go
  internal/client/options.go
  internal/nexodus/ctlserver_unix.go
  internal/nexodus/keys.go
  internal/nexodus/keys_darwin.go
  internal/nexodus/keys_linux.go
  internal/nexodus/keys_windows.go
  internal/nexodus/nexodus.go
  internal/nexodus/userspace_proxy.go
  internal/state/fstore/fstore.go
  internal/state/kstore/kstore.go
  internal/state/state.go
Labels: no-design-required, no-docs-required, has-tests

#1292 Add a script for spinning up containers against qa outside of CI
  docs/development/scale-testing.md
  hack/e2e-scripts/qa-container-scale.sh
Labels: no-design-required, has-docs, no-tests-required

#1295 e2e: use net.JoinHostPort more consistently.
  integration-tests/proxy_test.go
Labels: no-design-required, no-docs-required, no-tests-required

#1294 nexd: rename all *Nexodus receivers to nx.
  internal/nexodus/ctlserver_unix.go
  internal/nexodus/join.go
  internal/nexodus/keys.go
  internal/nexodus/nexodus.go
  internal/nexodus/nexodus_darwin.go
  internal/nexodus/nexodus_linux.go
  internal/nexodus/nexodus_userspace.go
  internal/nexodus/nexodus_windows.go
  internal/nexodus/route_darwin.go
  internal/nexodus/route_linux.go
  internal/nexodus/route_userspace.go
  internal/nexodus/route_windows.go
  internal/nexodus/userspace_proxy.go
  internal/nexodus/wg.go
  internal/nexodus/wg_iface.go
  internal/nexodus/wg_peers.go
Labels: no-design-required, no-docs-required, no-tests-required

#1297 e2e: improve kube test reliability
  integration-tests/kube_test.go
Labels: no-design-required, no-docs-required, has-tests
